<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - Carpet</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>


    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h1 class="logo">
                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"><span class="highlight"><img src="~/images/logo.png" style="height:100%;"></span></a>
                </h1><!--//logo-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Поръчка</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Обработка на поръчки</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Подготовка за вземане</a>
                                <a class="dropdown-item" href="#">Обработка след вземане</a>
                                <a class="dropdown-item" href="#">В процес на изпиране</a>
                                <a class="dropdown-item" href="#">Подготвка за връщане</a>
                                <a class="dropdown-item" href="#">Обработка след доставка</a>
                                <a class="dropdown-item" href="#">Чакащи вземане от офис</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Справки</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Справка 1</a>
                                <a class="dropdown-item" href="#">Справка 2</a>
                                <a class="dropdown-item" href="#">Справка 3</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Изтрити поръчки</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Настройки</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Автомобили</a>
                                <a class="dropdown-item" href="#">Продукти и Цени</a>
                                <a class="dropdown-item" href="#">Управление на служители</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>

                        @*<li class="nav-item dropdown">
                    <a href="za-nas/" class="dropdown-toggle" data-hover="dropdown" data-delay="0" data-close-others="false">Обработка на поръчки <span class="badge badge-light">4</span><b class="caret"></b></a>
                    <ul class="dropdown-menu btn">
                        <li class="first"><a href="za-nas/visoko-kachestvo.html">Подготовка за вземане</a></li>
                        <li><a href="za-nas/duplicate-of-1.html">Обработка след вземане</a></li>
                        <li><a href="za-nas/duplicate-of-1.html">В процес на изпиране</a></li>
                        <li><a href="za-nas/ksi-srokove.html">Подготвка за връщане</a></li>
                        <li><a href="za-nas/vrzka-s-klienta.html">Обработка след доставка</a></li>
                        <li class="last"><a href="za-nas/vrzka-s-klienta.html">Чакащи вземане от офис</a></li>
                    </ul>
                </li>
                <li class=" nav-item dropdown">
                    <a href="uslugi/" class="dropdown-toggle" data-hover="dropdown" data-delay="0" data-close-others="false">Справки<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="first"><a href="uslugi/usluga-1.html">Справка 1</a></li>
                        <li><a href="uslugi/usluga-2.html">Справка 2</a></li>
                        <li class="last"><a href="uslugi/usluga-3.html">Справка 3</a></li>
                    </ul>
                </li>
                <li class=" nav-item dropdown">
                    <a href="drugite-za-nas/" class="dropdown-toggle" data-hover="dropdown" data-delay="0" data-close-others="false">Настройки<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="first"><a href="drugite-za-nas/mnenie-3.html">Автомобили</a></li>
                        <li><a href="drugite-za-nas/opiten-ekip.html">Продукти и Цени</a></li>
                        <li><a href="/employees">Управление на служители</a></li>
                        <li><a href="drugite-za-nas/poveche.html">Настойка 1</a></li>
                        <li><a href="drugite-za-nas/mnenie-2.html">Настройка 2</a></li>
                        <li class="last"><a href="drugite-za-nas/mnenie-4.html">Настойка 3</a></li>
                    </ul>
                </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Carpet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        var map;
        jQuery(document).ready(function () {
            jQuery('#myTable').DataTable();

            $('#example').DataTable({
                "order": [[3, "desc"]]
            });

        });


    </script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
