
@{
    ViewData["Title"] = "Contacts";
}

<div class="text-center">
    <h1>Свържете се с нас</h1>
    <h5>За да постигнете желания комфорт и чистота във Вашият дом</h5>
</div>
<hr/>

<div class="text-center" style="margin-top:50px">
    
    <p>
        Нашите координати са:
    </p>
    <p>
        Адрес: ул. „инж. Георги Белов“ 2 1712 София
    </p>
    <p>Телефон: +359 879 801 666</p>
    <p>Имейл: office@carpet.bg</p>
</div>

