@{
    this.ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Добре дошли в страницата на Carpet.BG!</h1>
        <h4 class="intro" style="margin-top:20px">
            Carpet.BG е компания с единствен предмет на дейност пране на килими!
        </h4>
    </div>
<hr />
    <div class="text-justify" style="margin-top:50px">
        
        <p>
            За да отговорим на очакванията на нашите клиенти закупихме единствената в България система за професионално пране на килими.
        </p>
        <p>
            Качеството и бързината на предлаганата услуга са на много високо ниво.
        </p>
        <p>
            Единствено при нас може да донесете Вашия килим ,без значение oт сезона, и след броени минути да си го вземете чист, мек и ухаещ приятно.
        </p>
    </div>

