@{
    this.ViewData["Title"] = "Privacy Policy";
}


<div class="text-center">
    <h1>Декларация за поверителност</h1>
    <h5>Декларация за защита на личните данни</h5>
</div>
<hr/>

<div class="text-justify" style="margin-top:50px">

    <p>
        Защитата на личните Ви данни ни е важна. Затова обработваме Вашата информация изключително въз основа на приложимото законодателство, конкретно GDPR, Закона за защита на лични данни (ЗЗЛД) и Закона за електронната търговия (ЗЕТ). В тази декларация ви информираме за най-важните аспекти от обработването на Вашите данни на нашия уебсайт.
    </p>
    <p>
        Какво се случва с данните Ви, след като се свържете се нас?
    </p>
    <p>
        Когато ни пишете чрез контактната форма на нашия уебсайт или ни пращате имейл, ние съхраняваме данните Ви за период от 20 дни, така че да можем да обработим искането Ви, както и за да отговорим на Ваши последващи въпроси. Няма да споделяме тази информация с трети лица без Вашето изрично съгласие!
    </p>
    <p>
        Съхраняване на Вашите данни
    </p>
    <p>
        С оглед изпълнението на договора си с Вас съхраняваме само тези от предоставените от Вас данни, които са ни нужни, за да изпълним своите договорни или преддоговорни задължения спрямо Вас. Не предоставяме тези данни на трети лица, с изключение на
    </p>
    <p>
        – обработващата плащането банка и
        – нашия счетоводител.
    </p>
    <p>
        При незавършена поръчка изтриваме въведените по нея данни. При завършена поръчка и изпълнен от наша страна договор на основание чл. 6, ал. 1, букви (а) и (б) от GDPR съхраняваме всички данни по правоотношението до изтичане на предвидения в чл. 12 от Закона за счетоводството (ЗСч) 10-годишен срок.
    </p>
    <p>
        Бисквитки
    </p>
    <p>
        Нашият уеб сайт използва така наречените „бисквитки“. Това са малки текстови файлове, които се зареждат в браузъра и се съхраняват на Вашето крайно устройство. Те са безобидни.
    </p>
    <p>
        Използваме ги, за да поддържаме сайта си лесен за употреба. Някои „бисквитки“ остават съхранени на устройството Ви, докато не ги изтриете. Те ни позволяват да разпознаем Вашия браузър при следващото ви посещение в нашия сайт.
    </p>
    <p>
        Използваме „бисквитките“ на основание чл. 4а от Закона за електронната търговия (ЗЕТ) и член 6, ал. 1, буква (е) GDPR.
    </p>
    <p>
        Ако не сте съгласни с това, можете да откажете съхраняването, като настроите браузъра си така, че да Ви информира, когато някой сайт иска да запамети на устройството Ви „бисквитки“, а Вие съответно да ги приемате или не.
    </p>
    <p>
        Имайте предвид, че деактивирането на „бисквитките“ във Вашия браузър може да ограничи функционалността на нашия сайт за Вас.
    </p>
    <p>
        Вашите права
    </p>
    <p>
        Имате право на достъп до Вашите данни, които обработваме, както и право на коригиране, изтриване (право „да бъдете забравени“), ограничаване на обработката, преносимост на данни, оттегляне на съгласието и възражение.
    </p>
    <p>
        Ако смятате, че нашето обработване на Вашите данни нарушава разпоредбите за защита на лични данни или ако смятате, че правата Ви според тези разпоредби са били нарушени по някакъв начин, можете да се обърнете към компетентния административен орган. В България това е Комисията за защита на лични данни.
    </p>
    <p>
        Свържете се с нас по един от следните начини:
    </p>
    <p>
        тел.00359 879 801 666
    </p>
    <p>
        email: office@carpet.bg
    </p>
</div>
