
@{
    ViewData["Title"] = "Terms";
}

<div class="text-center">
    <h1>Накратко за машинното изпиране</h1>
</div>


<div class="text-justify" style="margin-top:50px">
    <p>
        I.Заявки за пране на килими се приемат на телефон 02/99 505 99 и 0879/ 801 666 или на място в офиса на Carpet.BG
    </p>
    <p>
        II.Килимите Ви се приемат от служителите на Carpet.BG предварително почистени (с прахосмукачка) и навити на руло.
    </p>
    <p>
        III.Служителите на Carpet.BG нямат право да влизат в домовете на клиентите, както и да извършват други дейности несвързани с взимането и транспортирането на килими.
    </p>
    <p>
        IV.Carpet.BG не носи отговорност за килими: скъсани, изгорени, изгнили, с разплетен оверлог, проядени от молци, с претна от восък, вино, кръв, маркер, боя, оцветени или избелели цветове и всички други замърсявания и увреждания, причинени от нетипична и неправилна експоатация.
    </p>
    <p>
        V.Carpet.BG извършва пране на килими, а не химическо почистване на килими.
    </p>
    <p>
        VI.Цените на Carpet.BG се образуват спрямо размера на килима или избраната услугата и са упоменати в раздел "Цени".
    </p>
    <p>
        VII.В рамките на седем дни от взимане на поръчката, Carpet.BG и КЛИЕНТЪТ се задължават да осигурят връщането й.
    </p>
    <p>
        VIII.Carpet.BG доставя изпраните и изсушени килими до адреса на клиента в уговорен ден и час, в случай на неосигурен приемащ килима, всяко следващо транспортиране се таксува спрямо цената обявена в раздел "Цени"
    </p>
    <p>
        IX.Рекламации се приемат съгласно чл. 126 ал 1 от ЗЗП.
    </p>
    <p>
        X.С поръчка на услугата КЛИЕНТЪТ приема общите условия на Carpet.BG.
    </p>
    <p>
        XI. Carpet.bg не  носи отговорност за килими не потърсени в срок от 30 дни от датата на заявката.
    </p>
</div>

