
@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1>Накратко за машинното изпиране</h1>
    </div>


<div class="text-justify" style="margin-top:50px">
    <p>
        Технологията за машинно пране на килими, която използваме е модферна и иновативна. Машината е от неръждаема стомана, програмно управляема от най-висок клас.
        При машинно пране на килими, килима се поема автоматично за изпиране, накисва се със специален препарат, след което четки внимателно изпират килима, като се движат над него без да пропуснат нито едно ъгълче.
        Следва изплакване с чиста вода, изцеждане, подсушване, сгъване на килима и опаковане.
        При имашинно пране на килим се използват екологични препарати, с грижа към природата и нейното опазване.
    </p>
    <p>
        Готовия, изпран килим се доставя на клиентите безплатно.
        Така всеки клиент може да се наслади на уюта и чистотата, които са задължителни за всеки съвременен дом!
    </p>
    <p>Предимства на машинното пране на килими : машината за изпиране на килими сама регулира налягането и подаването на сапун и вода, като по този начин се постигат перфектни резултати при изпирането на килимите, независимо от тяхната дебелина или дължина.</p>
    <p>Използват се 100 % биоразградими препарати, което е гаранция за опазването на прородната среда и изпълнението на строгите изисквания на разпоредбите в ЕС.</p>
    <p>Обзавеждането на дома с красиви килими и пътеки може да бъде много скъпа инвестиция. За съжаление, много хора правят грешката или да използват вредни почистващи продукти върху килимите си, погрешни техники за почистване на килимите или да чакат дълго, за да премахнат петната. В крайна сметка ежедневното износване може да превърне прекрасния килим в грозна гледка и да наруши интериора и уюта на стаята. За правилното поддържане на килимите е необходимо редовно да се използват правилните техники.</p>
    <p>Експертно почистване на следните тъкани:  килими от памук, килими съдържащи полиестерни / памучни смеси, килими изработени от вълна и вълна смеси, килими от коприна, килими от найлон и др.</p>

</div>

